{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CAP Scheduler Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<div class="topnav">
    <div class="leftnav">
        <a href="#">Welcome</a>
    </div>
    <div class="centernav">
        <a href="#">{{ status }}</a>
    </div>
</div>

<div class="content">
<p>
Hello,<br><br>Please find the schedule for the meeting occurring on {{ date }} below. Please let us know if you have any questions:<br><br>

<table id="right-table">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Event</th>
        <th>Leader</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
</table>
<br>
Kind Regards,<br>
The MAMCS Scheduling Team<br><br>

This email was generated automatically by CAPScheduler. Please report any defects to 1s Lt John Madon.<br><br>

<a href="/schedule?meetingDate={{ date }}">Return</a>
</p>
</div>

{% endblock %}
