{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CAP Scheduler</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/schedule?meetingDate={{ prevDate }}"><< {{ prevDate }}</a>
    <a href="/schedule?meetingDate={{ nextDate }}">{{ nextDate }} >></a>
    <form action="/schedule">
            <input type="date" id="meetingDate" name="meetingDate" value="{{ meetingDate }}" data-date-inline-picker="true">
            <input type="submit" value="Submit">
    </form>
    <a href="/schedule?meetingDate={{ meetingDate }}&pageAction=AddEvent">Add Event</a>
    <a href="">Status: {{ status }}</a>
</div>

<div class="content">
    <h1 style="width: 80%; float: left;">Schedule</h1><h1 style="width: 20%; float: right;">Contact Hours</h1>
    <table id="left-table">
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Event Name</th>
        <th>Leader</th>
        <th>Hours</th>
        <th>Agreed To</th>
        <th>Conf. Scheduled</th>
        <th>Conf. Sent</th>
        <th>Conf. Rcvd</th>
        <th>Options</th>
    </tr>
    <tr>
    {% for result in results %}
    <tr>
        {% for elem in result %}
        <td>
            {% if elem == '0' %}&#9744
            {% else %}
                {% if elem == '1' %}
                    &#9745
                {% else %}
                    {{ elem }}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
        <td>
            <a href="/schedule?meetingDate={{ meetingDate }}&eventId={{ result[0] }}&pageAction=EditEvent">Edit</a>
            <a href="/delete?meetingDate={{ meetingDate }}&eventId={{ result[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tr>
    </table>
    
    <table id="right-table">
        <tr>
        {% for abrv in abrvs %}
            <th>{{ abrv }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for min in minutes %}
            <td>{{ min }}</td>
        {% endfor %}
    </tr>
    </table>
{% if pageAction == 'AddEvent' %}
<hr>
<h1>New Event</h1>
<table>
    <tr>
        <th>Event Date</th>
        <th>Start Time</th>
        <th>Stop Time</th>
        <th>Event Name</th>
        <th>Event Leader</th>
        <th>Hour Type</th>
        <th>Event Agreed To</th>
        <th>Conf. Email Scheduled</th>
        <th>Conf. Email Sent</th>
        <th>Confirmation Rcvd</th>
    </tr>
    <form action="/newevent?meetingDate={{ meetingDate }}">
    <tr>
        <td><input type="date" id="eventDate" name="eventDate" value="{{ meetingDate }}"></td>
        <td><input type="text" id="startTime" name="startTime" value="17:00"></td>
        <td><input type="text" id="stopTime" name="stopTime" value="18:00"></td>
        <td><input type="text" id="eventName" name="eventName" value=""></td>
        <td><input type="text" id="eventLdr" name="eventLdr" value=""></td>
        <td>
            <select id="contactAccount" name="contactAccount">
                {% for account in accounts %}
                    <option value="{{ account }}">{{ account }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="checkbox" id="isAgreedTo" name="isAgreedTo" value="1">
        </td>
        <td>
            <input type="checkbox" id="isEmailScheduled" name="isEmailScheduled" value="1">
        </td>
        <td>
            <input type="checkbox" id="isEmailSent" name="isEmailSent" value="1">
        </td>
        <td>
            <input type="checkbox" id="isEmailConfirmed" name="isEmailConfirmed" value="1">
        </td>
        <td>
            <input type="hidden" id="isDeleted" name="isDeleted" value="0">
            <input type="hidden" id="meetingDate" name="meetingDate" value="{{ meetingDate }}">
            <input type="reset" value="Clear">
            <!-- <input type="submit" value="Add Event"> -->
            <button type="submit" formmethod="post">Add Event</button>
        </td>
    </tr>
</form>
</table>
<hr>
{% endif %}
{% if pageAction == 'EditEvent' %}
<hr>
<h1>Edit Event</h1>
<table>
    <tr>
        <th>Event Date</th>
        <th>Start Time</th>
        <th>Stop Time</th>
        <th>Event Name</th>
        <th>Event Leader</th>
        <th>Hour Type</th>
        <th>Event Agreed To</th>
        <th>Conf. Email Scheduled</th>
        <th>Conf. Email Sent</th>
        <th>Confirmation Rcvd</th>
    </tr>
    <form action="/edit">
    <tr>
        <td><input type="date" id="eventDate" name="eventDate" value="{{ eventData[1] }}"></td>
        <td><input type="text" id="startTime" name="startTime" value="{{ eventData[2] }}"></td>
        <td><input type="text" id="stopTime" name="stopTime" value="{{ eventData[3] }}"></td>
        <td><input type="text" id="eventName" name="eventName" value="{{ eventData[4] }}"></td>
        <td><input type="text" id="eventLdr" name="eventLdr" value="{{ eventData[5] }}"></td>

        <td>
            <select id="contactAccount" name="contactAccount">
                {% for account in accounts %}
                    <option value="{{ account }}" {% if eventData [6] == account %}selected{% endif %}>{{ account }}</option>
                {% endfor %}
            </select>
        </td>

        <td>
            <input type="checkbox" id="isAgreedTo" name="isAgreedTo" value="1" {% if eventData[7] == 1 %}checked{% endif %}>
        </td>
        <td>
            <input type="checkbox" id="isEmailScheduled" name="isEmailScheduled" value="1" {% if eventData[8] == 1 %}checked{% endif %}>
        </td>
        <td>
            <input type="checkbox" id="isEmailSent" name="isEmailSent" value="1" {% if eventData[9] == 1 %}checked{% endif %}>
        </td>
        <td>
            <input type="checkbox" id="isEmailConfirmed" name="isEmailConfirmed" value="1" {% if eventData[10] == 1 %}checked{% endif %}>
        </td>
        <td>
            <input type="hidden" id="eventId" name="eventId" value="{{ eventData[0] }}">
            <input type="hidden" id="isDeleted" name="isDeleted" value="0">
            <input type="hidden" id="meetingDate" name="meetingDate" value="{{ meetingDate }}">
            <input type="reset" value="Clear">
            <!-- <input type="submit" value="Add Event"> -->
            <button type="submit" formmethod="post" onclick="return confirm('Are you sure you want to edit this event with the values in the fields below?')">Edit Event</button>
        </td>
    </tr>
</form>
</table>
<hr>
{% endif %}
</div>
</div>
{% endblock %}