{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CAP Scheduler Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<div class="topnav">
    <div class="leftnav">
        <a href="#">Welcome</a>
    </div>
    <div class="centernav">
        <a href="#">{{ status }}</a>
    </div>
</div>

<div class="loginbox">
    <form action="/login" method="post">
        <table>
        <tr>
            <th>Username:</th><td><input type="text" name="userName" value=""></td>
        </tr>
        <tr>
            <th>Password:</th><td><input type="password" name="userPass" value=""></td>
        </tr>
        <tr>
            <th></th><td><input type="submit" value="Login"></td>
        </tr>
    </form>
</div>
{% endblock %}
